{{!-- Create a table --}}
<table id="locations-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the paddrstate renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
            <th>edit</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, namemid and location_name, in order --}}
        {{#each data}}
        <tr data-value={{this.location_id}}>
            <td>{{this.location_id}}</td>
            <td>{{this.address1}}</td>
            <td>{{this.address2}}</td>
            <td>{{this.address_city}}</td>
            <td>{{this.address_state}}</td>
            <td>{{this.address_zip}}</td>
            <td>{{this.phone_number}}</td>
            <td>{{this.location_name}}</td>
            <td><button onclick="deleteLocation({{this.location_id}})">Delete</button></td>
            <td><button onclick="updateLocation({{this.location_id}},'{{this.address1}}','{{this.address2}}','{{this.address_city}}','{{this.address_state}}','{{this.address_zip}}','{{this.phone_number}}','{{this.location_name}}')">update</button></td>   
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- By default hidden update service rep form.  --}}
<div id='update_location_form' class='hidden'>
<h2>Update Location</h2>
<form id="update-location-form-ajax">
    <fieldset>

    <label for="update-address1">Address 1: </label>
    <input type="text" name="update-address1" id="update-address1">

    <label for="update-address2">Adddress 2: </label>
    <input type="text" name="update-address2" id="update-address2">

    <label for="update-address_city">Address City: </label>
    <input type="text" name="update-address_city" id="update-address_city">

    <label for="update-address_state">Address State: </label>
    <input type="text" name="update-address_state" id="update-address_state">

    <label for="update-address_zip">Address Zip: </label>
    <input type="text" name="update-address_zip" id="update-address_zip">

    <label for="update-phone_number">Phone Number: </label>
    <input type="text" name="update-phone_number" id="update-phone_number">

    <label for="update-location_name">Location Name: </label>
    <input type="text" name="update-location_name" id="update-location_name">


    <input type="submit" value = "Submit Changes">
    <input type="button" value="Cancel" onclick="closeUpdateForm()">
    </fieldset>
</form>

</div>
{{!-- Form to add a record to the table  --}}
<h2>Add New Location</h2>
<form id="add-location-form-ajax">

    <label for="input-address1">Address1: </label>
    <input type="text" name="input-address1" id="input-address1">
    
    <label for="input-address2">Address2: </label>
    <input type="text" name="input-address2" id="input-address2">

    <label for="input-addrcity">Address City: </label>
    <input type="text" name="input-addrcity" id="input-addrcity">

    <label for="input-addrstate">Address State: </label>
    <input type="text" name="input-addrstate" id="input-addrstate">

    <label for="input-addrzip">Address Zip: </label>
    <input type="text" name="input-addrzip" id="input-addrzip">

    <label for="input-phonenum">Phone Number: </label>
    <input type="text" name="input-phonenum	" id="input-phonenum">

    <label for="input-locationname">Location Name: </label>
    <input type="text" name="input-	locationname" id="input-locationname">



    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_locations.js"></script>
<script src="./js/delete_location.js"></script>
<script src="./js/update_location.js"></script>