{{!-- Create a table --}}
<table id="service-order-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the paddrstate renders --}}
        <tr>
            <th>rep id </th>
            <th> rep name </th>
            <th> rep last name </th>
            <th> customer name </th>
            <th> customer last name </th>
            <th> license plate </th>
            <th> make </th>
            <th> model </th>
            <th> completion status </th>
            <th> service order</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, namemid and location_name, in order --}}    
        {{#each data}}
        <tr data-value={{this.service_order_id}}>
            <td>{{this.service_rep_id}}</td>
            <td>{{this.rep_firstname}}</td>
            <td>{{this.rep_lastname}}</td>
            <td>{{this.customer_firstname}}</td>
            <td>{{this.customer_lastname}}</td>s
            <td>{{this.license_plate}}</td>
            <td>{{this.make}}</td>
            <td>{{this.model}}</td>
            <td>{{#if this.is_completed}}Completed{{else}}Incomplete{{/if}}</td>
            <td>{{this.service_order_id}}</td>
            <td><button onclick="updateServiceOrder({{this.service_order_id}})">Update</button></td>
            <td><button onclick="deleteLocation({{this.service_order_id}})">Delete</button></td>
            <td><button onclick="addRemoveItems({{this.service_order_id}})">Add-remove item </button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Add Service Order</h2>
<form id="add-service-order-form-ajax">
    <select name="input-rep" id="input-rep-ajax-service-orders">
        <option value="">Select a rep</option>
        {{#each reps}}
        <option value="{{this.service_rep_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>

    <select name="input-customer" id="input-customer-ajax-service-orders">
        <option value="">Select a customer</option>
        {{#each customers}}
        <option value="{{this.customer_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>
    
    <select name="input-vehicle" id="input-vehicle-ajax-service-orders">
        <option value="">Select a vehicle</option>
    </select>

    <input type="submit">
</form>


{{!-- By default hidden update service order form.  --}}

<div id='update_service_order_form' class='hidden'>
<h2 id="h2forUpDate"></h2>

<form id="update-service-order-form-ajax">
  <select name="status" id="update-status-ajax-service-orders">
        <option value="">Select a status</option>
        <option value="1"> Service completed</option>
        <option value="0"> Service not completed</option>
    </select>

<select name="update-rep" id="update-rep-ajax-service-orders">
        <option value="">Select a rep</option>
        {{#each reps}}
        <option value="{{this.service_rep_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
</select>
    <input type="submit" value = "Submit Changes">
    <input type="button" value="Cancel" onclick="closeUpdateForm()">
</form>

</div>


{{!-- By default hidden update service order form.  --}}

<div id='update_service_order_form' class='hidden'>
<h2 id="h2forUpDate"></h2>

<form id="update-service-order-form-ajax">
  <select name="status" id="update-status-ajax-service-orders">
        <option value="">Select a status</option>
        <option value="1"> Service completed</option>
        <option value="0"> Service not completed</option>
    </select>

<select name="update-rep" id="update-rep-ajax-service-orders">
        <option value="">Select a rep</option>
        {{#each reps}}
        <option value="{{this.service_rep_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
</select>
    <input type="submit" value = "Submit Changes">
    <input type="button" value="Cancel" onclick="closeUpdateForm()">
</form>

</div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_service_order.js"></script>
<script src="./js/update_service_order.js"></script>
