{{!-- Create a table --}}
<table id="service-order-details-table">

    {{!-- Header section --}}

    <h2>Details for service order: {{order_id}}</h2>
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the paddrstate renders --}}
        <tr>
            <th>Service_name</th>
            <th>Price</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, namemid and location_name, in order --}}
        {{#each service_order_detail}}
        <tr data-value={{this.service_order_id}}>
            <td>{{this.service_name}}</td>
            <td>{{this.price}}</td>
            <td><button onclick="deleteServiceItemsFromOrder({{this.service_order_id}},{{this.service_item_id}})">Remove Item</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- Form to add a record to the table  --}}
<h2>Add New Service Item</h2>
<form id="add-service-item-to-order" service-order-id-default={{order_id}} >   
    <select name="service-item" id="add-service-item-to-order-ajax">
        <option value="">Select a service</option>
        {{#each service_items}}
        <option value="{{this.service_item_id}}">{{this.service_name}}</option>
        {{/each}}
    </select>
    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_service_item_to_order.js"></script>
<script src="./js/delete_item_from_order.js"></script>
